<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/png" href="images/favicon.ico" />

<title>Registration Completed</title>

<link rel="stylesheet" type="text/css" href="css/mainTab.css">
</head>
<body>
	<div id="container">
		<div class="containerImg">
<!-- 			<img src="images/logo.png" alt="logo" width="100%"> -->
			<label>FTI Video Analysis Service</label>
		</div>
		<div style="float: left;margin: 30px 5px 0px 10px;">
			<h3>Problems occours during the registration process.<br>Please try to <a href="registration">Register Here</a> for a new registration attempt.</h3>
		</div>
	</div>
</body>
</html>